BBQ Blast/Library
CrazyChain/Crazy Chain 1.1
CrazyChain/Content/Assets/StarterContent/HDRI
CrazyChain/Saved/StagedBuilds/Windows
Chains of Old/Library/ArtifactDB
BBQ Blast/Logs
BBQ Blast/UserSettings/Layouts
